@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199, 97%, 45%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --tertiary: #039be4;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }
}
.no-scrollbar::-webkit-scrollbar {
  scrollbar-width: 0;
  display: none;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}
.nsans {
  font-family: var(--nsans);
}
.stroke {
  text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black,
    -2px 2px black;
}
.stroke:hover {
  text-shadow: none;
  color: var(--tertiary);
}
.cshad {
  box-shadow: 8px 8px 6.5px 0px #00000040;
}
.custom-shadow {
  box-shadow: 10px 10px 15px -2px rgba(0, 0, 0, 0.7);
}

.slick-slide,
.slick-list,
.slick-slide:first-child(div) {
  height: 100%;
}
.swiper {
  height: 100%; /* Matches parent height */
  display: flex;
  flex-direction: column;
}

/* Ensure the Swiper wrapper fills the height */
.swiper-wrapper {
  height: 100%; /* Matches the container height */
  display: flex; /* Optional, for alignment */
}

/* Ensure all slides are the same height */
.swiper-slide {
  height: 100%; /* Matches the wrapper height */
  display: flex;
  align-items: stretch; /* Stretch child elements */
  justify-content: center; /* Center the BlogCard */
}
.embla {
  /* width: 100%; */
  /* height: 100%; */
  position: relative;
}

.embla__container {
  display: flex;
  gap: 16px; /* Adjust gap between slides */
}

.embla__slide {
  display: flex;
  /* flex: 0 0 80%; Makes slides responsive */
  justify-content: center;
  align-items: center;
  height: auto;
}
